$career-color: #CEE8C4;
$health-color: #F9D5E5;
$personal-growth-color: #C9E4DE;
$finance-color: #FBEEC1;
$relationships-color: #FAD4D4;
$romance-color: #F7C6C7;
$fun-and-recreation-color: #D0E6A5;
$physical-activity-color: #F4B942;
$spirituality-color: #B5EAEA;

.career {
  color: $career-color;
}
.health {
  color: $health-color;
}
.personal-growth {
  color: $personal-growth-color;
}
.finance {
  color: $finance-color;
}
.relationships {
  color: $relationships-color;
}
.romance {
  color: $romance-color;
}
.fun-and-recreation {
  color: $fun-and-recreation-color;
}
.physical-activity {
  color: $physical-activity-color;
}
.spirituality {
  color: $spirituality-color;
}
